# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Environment files
.env
.venv/
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files and large outputs
data/
outputs/
*.h5
*.pt
*.pth
*.ckpt
*.tflite

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
